@(academics: List[Academic], user: models.Users)
@main("Academics catalogue", user) {
<h2><span class="glyphicon glyphicon-bookmark"></span> Academics</h2>
<script>
	function del(urlToDelete) {
		$.ajax({
			url: urlToDelete,
			type: 'DELETE',
			success: function (results) {
				location.reload();
			}
		});
	}
</script>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Academic Id</th>
		<th>Name</th>
		<th>Description</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@for(academic <- academics) {
	<tr>
		<td>@academic.id</td>
		<td>@academic.name</td>
		<td>@academic.description</td>
		<td>
			<a href=" @routes.Academics.edit(academic.id)"><i class="glyphicon glyphicon-pencil"></i></a>
			<a onclick="del('@routes.Academics.destroy(academic.id)')"><i class="glyphicon glyphicon-trash"></i></a>
		</td>
	</tr>
	}
	</tbody>
</table>
<a href="@routes.Academics.newRecord()" class="btn btn-primary">New academic</a>
}
