@(EmployForm: Form[Employ])
@import helper._
@import helper.twitterBootstrap._

@main("Employ form") {
  <h1>Employ form</h1>
  @helper.form(action = routes.Employs.save()) {
   <input type="hidden" value="@EmployForm("id").valueOr("")" name="id"/>
    <fieldset>
       <legend>Employ (@EmployForm("name").valueOr("New"))</legend>
       @helper.inputText(EmployForm("id2"), '_label -> "ID")
       @helper.inputText(EmployForm("name"), 'placeholder -> "Your name",'_label -> "Name")
       @helper.textarea(EmployForm("address"), '_label -> "Address")
       @helper.textarea(EmployForm("email"), '_label -> "Email")
       @helper.select(EmployForm("Gender"), options = options("Male"->"Male", "Female"->"Female"),'_label -> "Gender")
       @helper.inputText(EmployForm("birthday"), 'placeholder -> "dd/mm/yyyy", '_label -> "Birthday")
       @helper.inputText(EmployForm("phone_number"), '_label -> "Phone number")
       @helper.inputText(EmployForm("degree"), '_label -> "degree")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Employs.list()">Cancel</a>
  }
}