@(EmployForm: Form[Employ])
@import helper._
@import helper.twitterBootstrap._

@main("Employ form") {
  <h1>Employ form</h1>
  @helper.form(action = routes.Employs.save()) {
    <fieldset>
       <legend>Employ (@EmployForm("name").valueOr("New"))</legend>
       @helper.inputText(EmployForm("id"), '_label -> "Employ ID")
       @helper.inputText(EmployForm("name"), 'placeholder -> "Your name",'_label -> "Name")
       @helper.inputText(EmployForm("address"), '_label -> "Address")
       @helper.inputText(EmployForm("email"), '_label -> "Email")
       @helper.select(EmployForm("Gender"), options = options("male"->"Male", "female"->"Female"),'_label -> "Gender")
       @helper.inputText(EmployForm("birthday"), 'placeholder -> "dd/mm/yyyy", '_label -> "Birthday")
       @helper.inputText(EmployForm("phone_number"), '_label -> "Phone number")
       @helper.select(EmployForm("degree"), options = options("cunhan"->"Cử nhân", "thacsi"->"Thạc Sĩ", "tiensi"->"Tiến Sĩ"),'_label -> "Degree")
       @helper.inputText(EmployForm("academic"), '_label -> "Academic")
       @helper.inputText(EmployForm("workplace"), '_label -> "Workplace")
       @helper.inputText(EmployForm("dept"), '_label -> "Department")
       @helper.select(EmployForm("contract"), options = options("nganhan"->"Ngắn hạn", "banam"->"Ba năm", "daihan"->"Dài hạn"),'_label -> "Contract")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Employs.list()">Cancel</a>
  }
}