@(employs: List[Employ], user: models.User)
@main("Employs catalogue", user) {
<h2>All employs</h2>
<script>
    function del(urlToDelete) {
        $.ajax({
            url: urlToDelete,
            type: 'DELETE',
            success: function (results) {
                location.reload();
            }
        });
    }
</script>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Employ Id</th>
        <th>Name</th>
		<th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Phone Number</th>
        <th>Degree</th>
        <th>Academic</th>
        <th>Workplace</th>
        <th>Department</th>
        <th>Contract</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for(employ <- employs) {
    <tr>
        <td>@employ.id</td>
        <td>@employ.name</td>
        <td>@employ.email</td>
        <td>@employ.address</td>
        <td>
        @if(employ.gender) {
            Male
        } else {
            Female
        }
        </td>
        <td>@employ.birthday.format("dd/MM/yyyy")</td>
        <td>@employ.phone_number</td>
        <td>@employ.degree.name</td>
        <td>@employ.academic.name</td>
        <td>@employ.workplace</td>
        <td>@employ.dept.name</td>
        <td>@employ.contract.name</td>
        <td>
            @if(user.admin == true) {
            	<a href=" @routes.Employs.edit(employ.id)"><i class="glyphicon glyphicon-pencil"></i></a>
            	<a onclick="del('@routes.Employs.destroy(employ.id)')"><i class="glyphicon glyphicon-trash"></i></a>
            }
        </td>
    </tr>
    }
    @if(user.admin == true) {
    <tr>
        <td colspan="13">
            <a href="@routes.Employs.newRecord()" class="btn btn-primary">New employ</a>
        </td>
    </tr>
    }
    </tbody>
</table>
}
