@(employs: List[Employ])
@main("Employs catalogue") {
<h2>All employs</h2>
<script>
    function del(urlToDelete) {
        $.ajax({
            url: urlToDelete,
            type: 'DELETE',
            success: function (results) {
                location.reload();
            }
        });
    }
</script>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Employ Id</th>
        <th>Name</th>
		<th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Phone Number</th>
        <th>Degree</th>
        <th>Academic</th>
        <th>Workplace</th>
        <th>Department</th>
        <th>Contract</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for(employ <- employs) {
    <tr>
        <td>@employ.id</td>
        <td>@employ.name</td>
        <td>@employ.email</td>
        <td>@employ.address</td>
        <td>@employ.gender</td>
        <td>@employ.birthday</td>
        <td>@employ.phone_number</td>
        <td>@employ.degree</td>
        <td>@employ.academic</td>
        <td>@employ.workplace</td>
        <td>@employ.dept</td>
        <td>@employ.contract</td>
        <td>
        	<a href=" @routes.Employs.details(employ.id)"><i class="icon icon-pencil"></i></a>
        	<a onclick="del('@routes.Employs.delete(employ.id)')"><i class="icon icon-trash"></i></a>
        </td>
    </tr>
    }
    </tbody>
</table>
<a href="@routes.Employs.newEmploy()" class="btn btn-primary">New employ</a>
}
