@(ContractForm: Form[Contract], contract: models.Contract, user: models.Users)
@import helper._
@import helper.twitterBootstrap._

@main("Contract form", user) {
  <h1>Contract form</h1>
  @helper.form(action = routes.Contracts.update(contract.id)) {
    <fieldset>
       <legend>Contract (@ContractForm("name").valueOr("New"))</legend>
       <input type="hidden" value="@contract.id" name="id" >
       @helper.inputText(ContractForm("name"), 'placeholder -> "Contract name",'_label -> "Contract name", '_showConstraints -> false, 'class -> "form-control")
       @helper.textarea(ContractForm("description"), '_label -> "Description", '_showConstraints -> false, 'class -> "form-control")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Contracts.index()">Cancel</a>
  }
}