@(users: List[Users], current_user: models.Users)
@main("Users catalogue", current_user) {
<h2><span class="glyphicon glyphicon-bookmark"></span> Users</h2>
<script>
    function del(urlToDelete) {
        $.ajax({
            url: urlToDelete,
            type: 'DELETE',
            success: function (results) {
                location.reload();
            }
        });
    }
</script>
<table class="table table-striped">
    <thead>
    <tr>
        <th>User Id</th>
        <th>User Name</th>
		<th>Email</th>
        <th>Admin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for(user <- users) {
    <tr>
        <td>@user.id</td>
        <td>@user.name</td>
        <td>@user.email</td>
        <td>@user.admin</td>
        <td>
            @if(!user.equals(current_user)) {
                <a onclick="del('@routes.User.destroy(user.id)')"><i class="glyphicon glyphicon-trash"></i></a>
            }
        </td>
    </tr>
    }
    </tbody>
</table>
<a href="@routes.User.newRecord()" class="btn btn-primary">New user</a>
}
