@(form: Form[Application.Login])


<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet" media="screen">
    <script type='text/javascript' src='@routes.Assets.at("bootstrap/js/jquery-1.11.2.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bootstrap/js/bootstrap.js")'></script>
</head>
<body>
	@if(flash.containsKey("success")){
      <div class="alert alert-success">
        @flash.get("success")
      </div>
    }
    @if(flash.containsKey("error")){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
    <div class="container">
        <div class="row login-form">
	  		<div class="col-md-6 col-md-offset-3">
				@helper.form(routes.Application.authenticate) {
					<h2 class="form-signin-heading">Please sign in</h2>
					@if(form.hasGlobalErrors) {
					    <p class="error">
					        @form.globalError.message
					    </p>
					}
					<div class="field">
						<label for="inputEmail" class="sr-only">Email address</label>
						<input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="@form("email").value">
					</div>
					<div class="field">
						<label for="inputPassword" class="sr-only">Password</label>
						<input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>
					<button class="btn btn-small btn-primary col-md-2" type="submit">Sign in</button>
				}
			</div>
		</div>
    </div>
</body>
</html>